#sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  text-transform: uppercase;
  letter-spacing: -.04em;
  text-align: center;
  color: rgb(24 24 27);
  line-height: 1.4;
  position: relative;
  padding-bottom: 10px;
  -webkit-user-select: none;
  user-select: none;
}

span::before {
  box-sizing: border-box;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  position: absolute;
  inset: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #fff;
  animation: animated 9s infinite;
  animation-delay: var(--delay);
}

@keyframes animated {

  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

.square-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.square-image:hover::before {
  content: 'Eres muy linda lo sabias?';
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  z-index: 2;
}